<footer>
    <div class="footer">
        <div class="footer_icon"><a href="{% url 'mainapp:checkout_page' %}"><i class="fa-solid fa-hous"></i></a></div>


        <div class="footer_text" style="padding-bottom: 0px;">
            <p style="margin: 0 0 0 0; padding : 0px;"> 225 (6th Floor) Senpara Parbata, Mirpur-10, Dhaka-1216
            </p>
            <p style="margin: 0 0 ;">Copyright 2023 © Aponshop</p>
        </div>
        <div class="footer_icon"><a href="{% url 'mainapp:checkout_page' %}"><i class="fa-solid fa-cart-shoppin"></i></a></div>

    </div>

</footer>
