<!-- 
{% extends 'base.html' %}
{% block content %}
{% load static %}


{% for item in object_list %}
<div class="col-lg-3 col-md-6 mb-4">

  <div class="card">
    <div class="view overlay">
      <img src="{{item.item_image.url}}" width="240" height="240" class="card-img-top"
        alt="">
      <a href="{{item.get_absolute_url}}">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <div class="card-body text-center">
      <a href="{{item.get_absolute_url}}" class="grey-text">
        <h5>{{item.item_category}}</h5>
      </a>
      <h5>
        <strong>
          <a href="{{item.get_absolute_url}}" class="dark-grey-text">{{item.item_name}}</a>
        </strong>
      </h5>

      <h4 class="font-weight-bold blue-text">
        <strong>{{item.price}}</strong>
      </h4>

    </div>

  </div>

</div>
{% endfor %}
{% if object_list.count == 0 %}
<div>
  <h1 style="text-align: center;">No items found</h1>
</div>
{% endif %}

{% endblock %} -->